
@model CommunityPro.Models.Posting
@{
    ViewBag.Title = "Details";
}

<h3 class="alert alert-light">@Html.DisplayFor(model => model.Position.Name) @Html.ActionLink("Apply", "Create/" + Model.ID, "Applications"  + "", null, new { id = Model.ID, @class = "btn btn-primary float-right" })</h3>

 
    @*<button class="btn btn-primary">Apply</button>*@
    <hr />
<div class="data">
    <div class="row">

        <div class="col-md-2">
            <dl class="dl-horizontal">
              <dt>@Html.DisplayNameFor(model => model.Schools)
               </dt>

                <dd>
                    @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @class = "form-control", @style = "width:300px;" })

                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Position.Skills)
                </dt>

                <dd>
                    @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selSkills, new { @class = "form-control", @style = "width:300px;" })

                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Position.Qualifications)
                </dt>

                <dd>
                    @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selQualifications, new { @class = "form-control", @style = "width:300px;" })

                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                   <h2>@Html.DisplayFor(model => model.Position.Name)</h2><br />
                    <div class="row">
             
                        <div class="col-sm-4">
                            <b>
                                @Html.DisplayNameFor(model => model.StartDate): @Html.DisplayFor(model => model.StartDate)<br />
                                @Html.DisplayNameFor(model => model.ClosingDate): @Html.DisplayFor(model => model.ClosingDate)<br />
                                </b>
                        </div>
       
                        <div class="col-sm-3 offset-3">
                            <b>
                                <br />
                                @Html.DisplayNameFor(model => model.NumberOpen): @Html.DisplayFor(model => model.NumberOpen) <br />
                                @Html.DisplayNameFor(model => model.Salary):  @Html.DisplayFor(model => model.Salary)/@Html.DisplayFor(model => model.SalaryType.Salarytype)


                            </b>
                        
                        </div>
                    </div>
                      
<hr />

                  
                   <b>@Html.DisplayNameFor(model => model.Details)</b><br />
                    @Html.DisplayFor(model => model.Details)
                 


                   
                </div>
            </div>
          
         
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            @Html.ActionLink("Edit", "Edit/" + Model.ID , null, new { id = Model.ID, @class = "btn btn-primary" })

  
            @Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>
   
</div>
        
    
