@model CommunityPro.Models.Application

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Successfully Applied</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @*@ViewBag.UserID;*@
                @*@Html.EditorFor( model => model.ApplicantID, new { htmlAttributes = new { @class = "form-control" ,  placeholder = @ViewBag.UserID } })*@
                @*@Html.DropDownList("ApplicantID", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.ApplicantID, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="hidden" name="ApplicantID" value="@ViewBag.userID" />
        <div class="form-group">
            <div class="col-md-10">
                @*@Html.DropDownList("PostingID", null, htmlAttributes: new { @class = "form-control" })*@
                <input type="hidden" name="PostingID" value="@ViewBag.PostingID"/>
                @Html.ValidationMessageFor(model => model.PostingID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Apply" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
